.cd-schedule {
    position: relative;
    width: 1000px;
    height: 1002px;
}

@media only screen and (min-width: 800px) {
    .cd-schedule {
        margin: 0 !important;
    }
}

.cd-container {
    margin-left: 10%;
}

.cd-schedule .cd-row {
    width: calc(100% / 8);
    float: left;
    border: 1px solid #eaeaea;
}

.cd-schedule .cd-row .cd-box {
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 0;
    height: 50px;
    display: table;
}

.cd-schedule .cd-row .cd-box>span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 .5em;
}

.cd-schedule .cd-row .cd-event {
    position: absolute;
    height: 50px;
    display: none;
    margin-top: -50px;
    color: white;
    width: 126px;
}


/* The Close Button */
.cd-close {
    float: right;
    color: black;
}

.cd-close:hover, .cd-close:focus {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.cd-schedule .cd-row .cd-event .cd-description {
    height: 48px;
    width: 100%;
}
.cd-schedule .cd-row .cd-event .cd-resizer {
    border: 2px solid #eaeaea;
    cursor: row-resize;
}

.cd-schedule .cd-row .cd-event .cd-description textarea {
    border: 0;
    width: 100%;
    height: 90%;
    margin-top: -20px;
    overflow: hidden;
    resize: none;
}

.cd-schedule .cd-row .cd-event .cd-description label {
    height: 100%;
    width: 100%;
}